   .grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 0.8fr;
        gap: 1px;

    }

    .items {
        padding: 0.5em;
        /* background: #333; */
        /* color: #fff; */

        border-radius: 8px;

    }