    @media (max-width: 768px) {
          .calendar {

              .calendar-days .np {
                  font-size: 12px;
              }
      
           .calendar-days{
                  display:none;
              }
             .responsive {
                  display: grid;
                  grid-template-columns: repeat(7, 1fr);
                  width: 100%;
                  max-width: 820px;
                  margin: 0 auto;
                  padding: 0;
                  list-style: none;
                  background: #fafafa;
                  border: 1px solid #ebebeb;
              }
              .calendar-days .en {
                  font-size: 10px;
              }
          }
    }